<div class="preview">
	<app-playing-card [monster]="monster"></app-playing-card>
</div>
<div class="main">
	<form [formGroup]="formGroup" (submit)="submit($event)">
		<!-- Name -->
		<mat-form-field>
			<mat-label for="name">Name</mat-label>
			<input matInput id="name" name="name" type="text" formControlName="name" />
			@if (isFieldValid('name')) {
			<mat-error class="error">This field is required.</mat-error>
			}
		</mat-form-field>

		<!-- Image -->
		<div class="form-field">
			<button mat-raised-button (click)="$event.preventDefault(); imageUploader.click();"> Upload Image: {{
				imageUploader.files?.[0]?.name || '...'}} </button>
			<input hidden #imageUploader id="image" name="image" type="file" (change)="onFileChange($event)">
			@if (isFieldValid('image')) {
			<div class="error">This field is required.</div>
			}
		</div>

		<!-- Type -->
		<mat-form-field>
			<mat-label for="type">Type</mat-label>
			<mat-select id="type" name="type" formControlName="type">
				@for (type of monsterTypes; track type) {
				<mat-option [value]="type">{{type}}</mat-option>
				}
			</mat-select>
		</mat-form-field>

		<!-- HP -->
		<mat-form-field>
			<mat-label for="hp">HP</mat-label>
			<input matInput id="hp" name="hp" type="number" formControlName="hp">
			@if (isFieldValid('hp')) {
			@if (formGroup.get('hp')?.hasError('required')) {
			<mat-error class="error">This field is required.</mat-error>
			}
			@if (formGroup.get('hp')?.hasError('min')) {
			<mat-error class="error">This field must be bigger than 0.</mat-error>
			}
			@if (formGroup.get('hp')?.hasError('max')) {
			<mat-error class="error">This field must be smaller or equal to 200.</mat-error>
			}
			}
		</mat-form-field>

		<!-- Figure caption -->
		<mat-form-field>
			<mat-label for="figureCaption">Figure caption</mat-label>
			<input matInput id="figureCaption" name="figureCaption" type="text" formControlName="figureCaption">
			@if (isFieldValid('figureCaption')) {
			<mat-error class="error">This field is required.</mat-error>
			}
		</mat-form-field>

		<!-- Attack name -->
		<mat-form-field class="form-field">
			<mat-label for="attackName">Attack name</mat-label>
			<input matInput id="attackName" name="attackName" type="text" formControlName="attackName">
			@if (isFieldValid('attackName')) {
			<mat-error class="error">This field is required.</mat-error>
			}
		</mat-form-field>

		<!-- Attack strength -->
		<mat-form-field>
			<mat-label for="attackStrength">Attack strength</mat-label>
			<input matInput id="attackStrength" name="attackStrength" type="number" formControlName="attackStrength">
			@if (isFieldValid('attackStrength')) {
			@if (formGroup.get('attackStrength')?.hasError('required')) {
			<mat-error class="error">This field is required.</mat-error>
			}
			@if (formGroup.get('attackStrength')?.hasError('min')) {
			<mat-error class="error">This field must be bigger than 0.</mat-error>
			}
			@if (formGroup.get('attackStrength')?.hasError('max')) {
			<mat-error class="error">This field must be smaller or equal to 200.</mat-error>
			}
			}
		</mat-form-field>

		<!-- Attack Description -->
		<mat-form-field>
			<mat-label for="attackDescription">Attack Description</mat-label>
			<input matInput id="attackDescription" name="attackDescription" type="text"
				formControlName="attackDescription">
			@if (isFieldValid('attackDescription')) {
			<mat-error class="error">This field is required.</mat-error>
			}
		</mat-form-field>

		<!-- button supprimer -->
		<div class="button-container left">
			@if(monsterId != -1) {
			<button mat-flat-button color="warn" type="button" (click)="deleteMonster()"> Delete </button>
			}
		</div>

		<!-- button save -->
		<div class="button-container right">
			<button mat-button (click)="navigateBack()">Back</button>
			<button mat-flat-button type="submit" [disabled]="formGroup.invalid">Save</button>
		</div>
	</form>
</div>